@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --netflix-red: #e50914;
  --netflix-gray: #2b2b2b;
  --kakao-yellow: #fee500;
  --kakao-brown: #391d1c;
}

@layer base {
  body {
    background-color: black;
    box-sizing: border-box;
    color: white;
  }
}

@layer components {
  .header-link {
    @apply flex items-center relative text-xl ml-8 after:content-['']
    after:absolute after:w-full after:-bottom-4
    after:border-[1px] after:hover:-bottom-2
    after:opacity-0 after:hover:opacity-100 after:duration-300;
  }

  .common-black-box {
    @apply text-gray-300 p-2 outline-none
    duration-300 border-[1px] border-white border-opacity-30
    bg-transparent focus:bg-black hover:border-white focus:border-white;
  }

  .common-input {
    @apply p-3 focus:outline-none rounded bg-netflix-gray w-full
    my-4 [&+*]:absolute [&+*]:top-5 [&+*]:left-2 [&+*]:text-sm [&+*]:duration-300
    [&:focus+*]:-top-1 [&:focus+*]:text-xs;
  }

  .row-button {
    @apply absolute z-40 top-1/2 -translate-y-1/2 w-6 h-6 cursor-pointer;
  }
}
