@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset.css";

:root {
  --netflix-red: #e50914;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: black;
  color: white;
}
